#root {
    background-color: #F5F8FF;
}

body {
    margin: 0;
    padding: 0;
}

.app-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.app-main-left-container {
    width: 25%;
    padding: 0 1rem;
}

.app-main-right-container {
    width: 75%;
    padding: 0 4rem;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  50% {
    transform: translateY(-20px) rotateY(8deg);
  }
  100% {
    transform: translateY(0px) rotateY(0deg);
  }
}

html,
body,
#root {
  background: linear-gradient(135deg, #0f172a, #1e293b);
}
